pip install flask
pip install flask_login
pip install flask_sqlalchemy
pip install Werkzeug==2.3.7
pip install requests
pip install Flask-Mail
pip install Flask-WTF
pip install email_validator
