{% extends "base.html" %}

{% block title %}Recommendations{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Your Recommendations</h2>
    <hr>
    {% if recommended_markets and recommended_markets|length > 0 %}
    <ul class="list-group">
        {% for item in recommended_markets %}
        <li class="list-group-item">{{ item.listing_name }} - {{ item.location_zipcode }}</li>
        {% endfor %}

    </ul>
    {% else %}
    <p class="alert alert-info">No recommendations available at the moment. Check back later!</p>
    {% endif %}
</div>
{% endblock %}
