{% extends "base.html" %} {% block title %}Market Mapper{% endblock %}

{% block content%}
<div id="content">
    <p style="color: black">
        When I was trying to think of some kind have real world aplication for our senior project, it started with my mom. I thought about times when 
        I was younger and my mom would go to the local farmers market. She'd ask I had wanted anything from there but I wouldn't know what the vendors were selling.
        At times she would come back and tell my dad that they didn't have x or y this week and she'd have to go out to a store to get it. Well the disapointment is over!
    </p>
    <p style="color: black"><em><strong>
        Introducing Market Mapper!</em></strong>
    </p>
    <p style="color: black">
        This website provides users with the convenience of creating accounts to explore local farmers markets in their area,
         while also offering vendors the opportunity to create profiles, and specifying the dates and offerings for their upcoming market appearances.
    </p>
</div>
{% endblock %}