{% extends "base.html" %}
{% block title %}Market Detail{% endblock %}

{% block content %}
    <h1>{{ market.listing_name }} Details</h1>
    <p><a href="https://www.google.com/maps?q={{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}" target="_blank">{{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}</a></p>
    <p>
        {% if market.media_website %}
            Website: <a href="{{ market.media_website }}" target="_blank">{{ market.media_website }}</a>
        {% elif market.media_facebook %}
            Facebook: <a href="{{ market.media_facebook }}" target="_blank">{{ market.media_facebook }}</a>
        {% elif market.contact_phone %}
            Phone: {{ market.contact_phone }}
        {% else %}
            No Contact Info Available.
        {% endif %}

    </p>



    <h2>Comments</h2>
    {% if comments %}
        <table>
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.text }}</td>
                        <td>{{ comment.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}


    {% if activeUser.is_authenticated %}
        <h2>Add a Comment</h2>
        <form method="POST" action="/market/{{ market.listing_id }}">
            <textarea name="comment_text" id="comment" class="form-control" placeholder="Add your comment"></textarea>
            <br/>
            <button type="submit">Add Comment</button>
        </form>
    {% endif %}

    <a href="/search">Back to Search</a>
{% endblock %}
