{% extends "base.html" %}
{% block title %}Market Detail{% endblock %}

{% block content %}
<div id="content">
    <h1 style="color: black">{{ market.listing_name }} Details</h1>
    <h2 style="color: black">{{ page_views.views }} Views</h1>
    {% if not market.listing_name %}
        <script>
            location.reload();
        </script>
    {% endif %}
    <p><a href="https://www.google.com/maps?q={{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}" target="_blank">{{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}</a></p>
    <p style="color: black">
        {% if market.media_website %}
            Website: <a href="{{ market.media_website }}" target="_blank">{{ market.media_website }}</a>
        {% elif market.media_facebook %}
            Facebook: <a href="{{ market.media_facebook }}" target="_blank">{{ market.media_facebook }}</a>
        {% elif market.contact_phone %}
            Phone: {{ market.contact_phone }}
        {% else %}

            No Contact Info Available.
        {% endif %}

    </p>

    <h2 style="color: black">Comments</h2>
    {% if comments %}
        <table id="comment">
            <thead>
                <tr>
                    <th style="color: black">User</th>
                    <th style="color: black">Comment</th>
                    <th style="color: black">Date</th>
                    <th style="color: black"></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td style="color: black" style="margin-right: 50px;">{{ users_dict.get(comment.user_id) }}</td>
                        <td style="color: black">{{ comment.text }}</td>
                        <td style="color: black">{{ comment.date }}</td>
                        {% if comment.user_id == activeUser.id %}
                        <td>
                            <button type="button" style="position:right" onClick="deleteComment({{ market.listing_id }}, {{  comment.id }})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="color: black">No comments yet.</p>
    {% endif %}


    {% if activeUser.is_authenticated %}
        <h2 style="color: black">Add a Comment</h2>
        <form method="POST" action="/market/{{ market.listing_id }}">
            <textarea name="comment_text" id="comment" class="form-control" placeholder="Add your comment"></textarea>
            <br/>
            <button type="submit">Add Comment</button>
        </form>
    {% endif %}

    <a href="/search">Back to Search</a>


</div>

{% endblock %}


