{% extends "base.html" %}
{% block title %}Search Markets{% endblock %}

{% block content %}
    <form id="searchForm" action="/search" method="POST">
        <label for="zipcode">Enter Zip Code:</label>
        <input type="text" id="zipcode" name="zipcode" value="{% if request.method == 'POST' %}{{ request.form['zipcode'] }}{% endif %}">
        <label for="radius">Select Radius:</label>
        <select id="radius" name="radius">
            <option value="10">10 miles</option>
            <option value="20">20 miles</option>
            <option value="30">30 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
        </select>
        <button type="submit">Search</button>
    </form>

    <table id="resultsTable" class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody id="results">
            {% if api_response and api_response.data %}
                {% for market in api_response.data %}
                    <tr>
                        <td><a href="/market/{{ market.listing_id }}">{{ market.listing_name }}</a></td>
                        <td><a href="https://www.google.com/maps?q={{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}" target="_blank">{{ market.location_street }}, {{ market.location_city }}, {{ market.location_state }}, {{ market.location_zipcode }}</a></td>
                        <td>
                            {% if market.media_website %}
                                <a href="{{ market.media_website }}" target="_blank">{{ market.media_website }}</a>
                            {% elif market.media_facebook %}
                                <a href="{{ market.media_facebook }}" target="_blank">{{ market.media_facebook }}</a>
                            {% elif market.contact_phone %}
                                Phone Number: {{ market.contact_phone }}
                            {% else %}
                                No Contact Info Available.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No data found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
